{% extends "base.html" %}
{% set active_page = "bokeh_graph" %}
{% block title %} 
查詢結果
{% endblock title %}

{% block content %}
  <script src="{{ url_for('static', filename='js/bokeh.min.js') }}"></script>

        <h1>Responsive Chart with Bokeh, Flask and Python</h1>
        <form action="/query_traffic_data" method="get">
            <label for="section">路段: </label>&nbsp;
            <select name='section' id="selectSection"></select></br>
            <label for="date">日期: </label>&nbsp;
            <select name='date' id="selectDate"></select></br>
            <input type="submit" value="submit">
        </form>


        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">Scatter Plot</h4>
                {{ div[0] | safe }}
                {{ script[0] | safe }}
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Bar Chart</h4>
                {{ div[1] | safe }}
                {{ script[1] | safe }}
            </div>
            <div class="col-md-12">
                <h4 class="text-center">Line Chart</h4>
                {{ div[2] | safe }}
                {{ script[2] | safe }}
            </div>
        </div>
    <script>
    const section_url = "{{ url_for('get_all_section_name') }}";
    const date_url = "{{ url_for('get_all_date') }}";
    const batchSection = document.getElementById("selectSection");
    const batchDate = document.getElementById("selectDate");
    const getSection = async () => {
      const data = await fetch(section_url);
      console.log(data);
      return data.json();
    };

    const getDate = async () => {
      const data = await fetch(date_url);
      console.log(data);
      return data.json();
    };

    const displaySection = async () => {
      const options = await getSection();
      for (option of options) {
        const newOption = document.createElement("option");
        newOption.value = option.section_id;
        newOption.text = option.section_name;
        batchSection.appendChild(newOption);
      }
    };

    const displayDate = async () => {
      const options = await getDate();
      for (option of options) {
        const newOption = document.createElement("option");
        newOption.value = option.date;
        newOption.text = option.date;
        batchDate.appendChild(newOption);
      }
    };

    displaySection();
    displayDate();
    </script>
{% endblock content %}
