{% extends "base.html" %}

{% block title %} 
查詢結果
{% endblock title %}


{% block content %}

<h1>查詢ISBN: {{ book }}</h1>
<table class="table">
<thead>
<tr>
<td>ISBN</td>
<td>書名</td>
<td>作者</td>
<td>出版社</td>
<td>購買日期</td>
<td>狀態</td>
</tr>
</thead>

<tbody>
{% for result in results %}
<tr>
<td>{{ result.ISBN }}</td>
<td>{{ result.Name }}</td>
<td>{{ result.Author }}</td>
<td>{{ result.Publisher }}</td>
<td>{{ result.Date }}</td>
<td>{{ result.Status }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
