{% extends "base.html" %}
{% set active_page = "dashboard" %}
{% block content %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<div>
    <select id="batchSelect"></select> <br>
        <div class="visualization">
          <div id="pieChart"></div>
          <div id="barChart"></div>
        </div>

    <script>
    const data_url = "{{ url_for('get_all_section_name') }}";
    const batchTrack = document.getElementById("batchSelect");
    const getPost = async () => {
      const data = await fetch(data_url);
      console.log(data);
      return data.json();
    };

    const displayOption = async () => {
      const options = await getPost();
      for (option of options) {
        const newOption = document.createElement("option");
        newOption.value = option.section_id;
        newOption.text = option.section_name;
        batchTrack.appendChild(newOption);
      }
    };

    displayOption();
    </script>
    <script>
        const pieChartDataUrl = "{{ url_for('get_piechart_data') }}";
        const barChartDataUrl = "{{ url_for('get_barchart_data') }}";
    </script>
    <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateBarChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</div>
{% endblock content %}