{% extends "base.html" %}

{% block content %}
<div>
<h2>統計資料:</h2>
<table class="table">
<tbody>
<thead>
<tr>
<td>使用者名稱</td>
<td>使用者權限</td>
</tr>
</thead>
{% for result in results %}
<tr>
<td>{{ result.username }}</td>
<td>{{ result.permission }}</td>
<td><button>編輯使用者</button></td>
{% if session.username != result.username %}
    <td><form action="/delete/{{ result.username }}" method="post"> <button>刪除使用者</button> </form></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}